@import "tailwindcss";

/* body {
  background-image: url(public/cargoship.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center; /* Centers the image */
  /* background-size: cover; Ensures it covers the full screen */ 
  /* background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.1);
} */ 
